<%= link_to "Home Page", root_path %>
 |
<%= link_to "Back to Bank Accounts", bank_accounts_path %>

<h1>Account Number: <%= @bank_account.account_number %>
  <small><%= @bank_account.client %>
  </small>
</h1>

<p>
  <%= button_tag 'New Transaction', id: "btn-new-transaction", class: "btn btn-primary" %>
  <%= link_to "Delete Account", bank_account_path(@bank_account.id), method: :delete, class: "btn btn-danger
  float-right", data: { confirm: "Are you sure?" } %>
  <%= link_to "Edit Account", edit_bank_account_path(@bank_account.id), class: "btn btn-info float-right mr-1" %>
</p>

<%= render 'transactions'  %>
<%= render 'modal_transaction' %>

<div id="parameters" data-bank-account-id="<%= @bank_account.id %>"></div>

<!-- **************************** JavaScript Section ************************************-->

<%= javascript_include_tag "bank_accounts/Show" %>

<script>
  $(document).ready(function () {
      Show.init();
  });
</script>



